@import 'tailwindcss';

@theme {
  --color-accent: #22775c;
  --color-accent-hover: #0f4e3a;
  --color-accent-content: #f6f6f6;
  --color-primary: #eefdf0;
  --color-primary-content: #252121;
}

html {
  background-color: #eefdf0;
  font-family: 'Ubuntu Sans Variable', sans-serif;
}
