@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Ubuntu Sans', sans-serif;

  --color-accent: #22775c;
  --color-accent-hover: #0f4e3a;
  --color-accent-content: #f6f6f6;
  --color-primary: #eefdf0;
  --color-primary-content: #252121;
}
